@font-face {
  font-family: 'Nunito';
  src: url('Nunito-Regular.woff2') format('woff2'),
       url('Nunito-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-SemiBold.woff2') format('woff2'),
       url('Nunito-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('Nunito-ExtraBold.woff2') format('woff2'),
       url('Nunito-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}