/* =============== GLOBAL =============== */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* =============== BASIC =============== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* =============== SCROLL BAR =============== */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #444;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

/*=============== LAYOUT ===============*/
body {
  scrollbar-width: thin;
  scrollbar-color: #888 #444;
}

.container {
  width: 90%;
  max-width: 30rem;
  margin: 2rem auto;
}

/*=============== HEADAR ===============*/
.head-section {
  text-align: center;
  margin-bottom: 2rem;
  color: #ffffff;
}

.head-section img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.head-section h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.head-section p {
  font-size: 1.2rem;
}

.bio {
  margin-bottom: 1rem;
}

/*=============== SOCIAL LINKS ===============*/
.social-links ul {
  list-style: none;
}

.social-links ul li {
  margin-bottom: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: background 0.25s ease;
  border: 1px solid #ffffff;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.social-links ul li:hover {
  background: rgba(255, 255, 255, 0.2);
}

.social-links ul li a {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 1rem;
  text-decoration: none;
}

.social-links ul li a i {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.social-links ul li a span {
  flex: 1;
  font-size: 0.9rem;
}

/* background colors */
.website {
  background-color: #333;
}
.github {
  background-color: #24292e;
}
.linkedin {
  background-color: #0e76a8;
}
.instagram {
  background-color: #fd5949;
}
.facebook {
  background-color: #1877f2;
}
.twitter {
  background-color: #1da1f2;
}
