@import '_variables';

.button-container {
  @include flex-center;
  gap: $spacing-small;
  margin: $spacing-large 0;
  flex-wrap: wrap;
}

.number-btn,
.mail-btn,
.share-btn {
  @include button-base;
}
