@import '_variables';

.social-links ul {
  list-style: none;
  padding: 0;
}

.link-item {
  margin-bottom: $spacing-medium;
  background: $btn-bg;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  @include box-shadow($shadow-light);
  transition: all 0.25s ease;

  &:hover {
    background: $btn-bg-hover;
    transform: translateY(-5px);
    @include box-shadow($shadow-light-hover);

    .icon {
      transform: scale(1.1);
    }
  }
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: $spacing-medium;
  gap: $spacing-medium;
  color: $btn-text;

  a {
    display: flex;
    align-items: center;
    flex: 1;
    padding: $spacing-medium;
    text-decoration: none;
    color: inherit;
  }

  .icon {
    margin-right: $spacing-medium;
    transition: transform $transition-duration ease;
  }
}

